.gradle/
build/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
out/
.kotlin/
kotlin-js-store/
output_datasets/

# Secret & Credential Exclusions
.env
*.env
*.key
*.pem
pockethost_ed25519*
pb_data/
*.secret
*.credentials


